{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block imports %}
    {% endblock imports %}
</head>
<body>
    <div class="wrapper-column">
        <header class="title">
            {% block site-title %}
            {% endblock site-title %}
        </header>
        <div class="wrapper">
        <aside class="menu">
            <ul>
                <li><a href="{% url 'blog:post_list' %}">🏠Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'admin:index' %}">⚙ Admin Panel</a></a></li>
                {% endif %}
            </ul>
            {% block menu %}
            
            {% endblock menu %}
        </aside>
        <main>
            {% block content %}

            {% endblock content %}
        </main>
        </div>
        
        <footer>
            Created by <a href="https://github.com/Tomeczekqq">Tomeczekqq</a>
        </footer>
    </div>
</body>
</html>