{% extends 'blog/base.html' %}
{% load static %}
{% load blog_tags %}

{% block imports %}
<link rel="stylesheet" href="{% static 'css/post/post_list.css' %}">
{% endblock imports %}

{% block site-title %}
    <h1>Lista postów</h1>
{% endblock site-title %}

{% block content %}
<section class="posts">
    {% for post in posts %}
    <a href="{{post.get_absolute_url}}">
        <article class="post">
            <header class="title">
                <h3>{{post.title}}</h3>
            </header>
            <p class="snippet">
                {{post.text|to_snippet|safe }}
            </p>
        </article>
    </a>
    {% endfor %}
</section>
{% endblock content %}


{% block menu %}

{% endblock menu %}