{% extends 'blog/base.html' %}
{% load static %}

{% block imports %}
    <link rel="stylesheet" href="{% static 'css/post/css/post_detail.css' %}">
{% endblock imports %}
{% block site-title %}
<h1>{{post.title}}</h1>
<div class="info">
    <span class="date">{{post.publish|date:"N d, Y" }}</span>
    <span class="tags">
        {% for tag in post.tags.all %}
            #{{tag}}
        {% endfor %}
    </span>
</div>
{% endblock site-title %}

{% block content %}
<article class='post'>
    <p> {{post.text|safe}}</p>
</article>
{% endblock content %}

{% block menu %}
{% endblock menu %}