.title h1 {
    padding-left: 130px;
}
.menu {
    color: inherit;
    width: 250px;
    margin-top: 1em;
}
.menu ul {
    padding: 0 5px 0 5px;
    margin: 0;
}
.menu li {
    list-style-type: none;
}
a {
  outline: none;
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color:  black;
}

a:focus {
  
}

a:hover {
  
}

a:active {
  color:  black;
}
.wrapper {
    display: flex;
    flex-wrap: nowrap;
}
.wrapper-column {
    width: 960px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
footer {
    text-align: center;
    margin-top: 3em;
}