.wrapper #title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper #title .info {
  margin-top: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper #title .info .tags {
  text-align: end;
}

.wrapper .post {
  text-align: justify;
}

.wrapper .post img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
